<body>
    <%- layout("/layouts/boilerplate.ejs") %>
        <h1>Edit This Document</h1>
        <form method="post" action="/listing/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate
            enctype="multipart/form-data">

            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" name="listing[title]" placeholder="Enter Your Title" class="form-control"
                    value="<%= listing.title %>" required>

                <div class="valid-feedback">Success</div>
                <div class="invalid-feedback">failed !</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>

                <textarea name="listing[description]" placeholder="Enter Your Description" id="" cols="21" rows="5"
                    class="form-control" required> <%= listing.description %></textarea>
                <div class="valid-feedback">Success</div>
                <div class="invalid-feedback">failed !</div>
            </div>
            <div class="mb-3">
                <label for="Originalimage" class="form-label">Original Image:</label>
                <img src="<%= originalImage  %>" class="card-img-top show-img" alt="listing_image">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image:</label>
                <input type="file" name="listing[image]" placeholder="Enter Your Image URL" class="form-control">
                <div class="valid-feedback">Success</div>
                <div class="invalid-feedback">failed !</div>

            </div>
            <div class="row">

                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price:</label>

                    <input type="number" name="listing[price]" placeholder="Enter Price" class="form-control"
                        value="<%= listing.price %>" required>
                    <div class="valid-feedback">Success</div>
                    <div class="invalid-feedback">failed !</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country:</label>

                    <input type="text" name="listing[country]" placeholder="Enter Your Country" class="form-control"
                        value="<%= listing.country %>" required>
                    <div class="valid-feedback">Success</div>
                    <div class="invalid-feedback">failed !</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location:</label>

                <input type="text" name="listing[location]" placeholder="Enter Your Location" class="form-control"
                    value="<%= listing.location %>" required>
                <div class="valid-feedback">Success</div>
                <div class="invalid-feedback">failed !</div>
            </div>
            <br>
            <button class="btn btn-dark add-btn">Save</button>
            <br>
            <br>


        </form>

</body>