<% layout("/layouts/boilerplate") %>
    <script>
        const mapToken = "<%= process.env.MAP_TOKEN %>"
        const alllistings = <%- JSON.stringify(alllistings) %>
    </script>
    <div class="row mt-3">
        <div class="col-8 offset-2">

            <h3>
                <%= alllistings.title %>
            </h3>
        </div>

        <div class="card col-8 offset-2 ">
            <img src="<%= alllistings.image.url %>" class="card-img-top show-img" alt="listing_image">
            <div class="card-body">
                <p class="card-text mb-2">
                    <i>
                        Owned by : <%= alllistings.owner.username %>
                    </i>
                </p>
                <p class="card-text mb-2">
                    <b> Title : </b>
                    <%= alllistings.title %>
                </p>
                <p class="card-text mb-2">
                    <b>Description :</b>
                    <%= alllistings.description %>
                </p>
                <p class="card-text mb-2">
                    <b>Price :</b> &#8377; <%= alllistings.price.toLocaleString('en-IN') %>/Night
                </p>
                <p class="card-text mb-2">
                    <b>Location :</b>
                    <%= alllistings.location %>
                </p>
                <p class="card-text">
                    <b>Country :</b>
                    <%= alllistings.country %>
                </p>
            </div>
        </div>
        <% if(currUser && currUser.equals(alllistings.owner._id)) {%>
            <div class="col-8 offset-2 btns">
                <form action="/listing/<%= alllistings._id %>?_method=delete" method="post">
                    <a href="/listing/<%= alllistings._id %>/edit" class="btn btn-dark add-btn ">Edit</a>
                    <button class="btn btn-dark">Delete</button>
                </form>
            </div>
            <% } %>
                <div class="col-8 offset-2">
                    <% if(currUser) {%>
                        <hr>
                        <h4>Leave a Review</h4>
                        <form action="/listing/<%= alllistings._id %>/reviews" method="post" novalidate
                            class="needs-validation">
                            <div>
                                <label for="rating" class="form-label">Rating:</label>
                                <fieldset class="starability-slot">
                                    <input type="radio" id="rating" class="input-no-rate" name="review[rating]"
                                        value="1" checked aria-label="No rating." />
                                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                </fieldset>
                            </div>
                            <div>
                                <label for="comment" class="form-label">comment:</label>
                                <textarea name="review[comment]" id="comment" cols="30" rows="5"
                                    class="form-control comment" required></textarea>
                                <div class="valid-feedback">Success...</div>
                                <div class="invalid-feedback">Please Enter the Comment</div>
                            </div>
                            <button class="btn btn-outline-dark mt-3 mb-3">Submit</button>
                        </form>
                        <% } %>
                            <hr>
                            <% if(alllistings.reviews.length> 0){ %>
                                <div class="row">
                                    <p><b>All Reviews:</b></p>
                                    <% for(review of alllistings.reviews){ %>
                                        <div class="card review-card col-5 mb-3 ms-3">
                                            <div class="card-body">
                                                <h6 class="card-title">
                                                    @<%= review.author.username %>
                                                </h6>
                                                <p class="starability-result" data-rating="<%= review.rating %>">
                                                    Rated: 3 stars
                                                </p>
                                                <p class="card-text mb-0">
                                                    <%= review.comment %>
                                                </p>

                                            </div>
                                            <form action="/listing/<%= alllistings._id %>/reviews/<%= review._id  %>"
                                                method="get" class="mt-2">
                                                <button class="btn btn-sm btn-dark">Delete</button>
                                            </form>
                                        </div>



                                        <% } %>
                                </div>
                                <% } %>

                </div>
                <div class="col-8 offset-2 mb-3">
                    <h3>Where you'll be</h3>
                    <div id="map"></div>
                </div>
    </div>
    <script src="/js/map.js"></script>